<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equip = "Content-Type"  content ="text/html" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/girl.ico}"/>
    <script type ="text/javascript" th:src ="@{/js/script.js}"></script>

</head>
<body>
<div  th:class = "main">
    <div th:class="person" th:object="${person}">
        <!--/*@thymesVar id="person" type="com.entity.Person"*/-->
        <p th:text="${person.getId()}" th:class="data">1</p>
        <p th:text="${person.getFirstName()}" th:class="data">1</p>
        <p th:text="${person.getLastName()}" th:class="data">1</p>
        <p th:text="${person.getDateBirth()}" th:class="data">1</p>
        <p th:text="${person.getMarriage()}" th:class="data">1</p>
        <p th:text="${person.getBalance()}" th:class="data">1</p>
  
    </div>
</div>
</body>
</html>